button {
    background-color: #444444;
    color: rgb(100, 255, 130);
    padding-bottom: 10px;
    border-radius: 8px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    user-select: none;
    font-size: 14px;
    border: none; 
}
button:hover {
    opacity: 0.75;
    cursor: pointer;
}
button:active {
    transform: translateY(2px);
}
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #e3e3e3;
}
.header-container {
    justify-content: space-between;
    background-color: #ffffff;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    display: flex;
}
.header-left-side-container {
    flex-direction: row;
    align-items: center;
    display: flex;
}
.logo {
    border-radius: 50%;
    margin-right: 10px;
}
.header-desc-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    display: flex;
}
.header-title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 24px;
}
.header-content {
    color: rgb(150, 150, 150);
    font-size: 18px;
}
.header-menu {
    flex-direction: row;
    display: flex;
    gap: 20px;
}
.header-menu > a {
    text-decoration: none;
    font-size: 20px;
    color: #444444
}
.header-menu > a:hover {
    color: red;
}
